
<div class="Catalog_page">
<br>
<h1>Our Catalog </h1>

	
<div id="slider">
<table class="testdiv">
	<td><h3>Advance Search Results</h3>
	<ul><li>option 1</li><br>
		<li>option 2</li><br>
		<li>option 3</li></ul>
	</td>
</table>
</div>
<table border=1>
	<tr>
		<th>Product Name</th>
		<th>Image</th>
		<th>Description</th>
		<th>Sale Price</th>
	</tr>
	
	<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= image_tag product.image, size: "400x200" %> </td>
			<td><%= product.description %> </td>
			<td><%= number_to_currency(product.salePrice) %> </td>
		</tr>
	<%end%>
</table>
</div>
