<div class="container">
	<div class="slider">
	<ul>
		<li>
		<%= image_tag("productImage9.jpg") %>
		<div class="content">Place holder</div>
		</li>
		<li>
		<%= image_tag("clinical-practice.JPG") %>
		<div class="content">Place holder</div>
		</li>
		<li>
		<%= image_tag("vendorImage3.jpg") %>
		<div class="content">Place holder</div>
		</li>
		</ul>
		<button class="prev">prev</button>
		<button class="next">next</button>
	</div>
</div>

	
