/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a     {
	text-decoration: none;
	}
	
	
	
.products_page {
	width: 90%;
	position: fixed;
	top: 18%;
	height: auto;
	padding: 15px;
	}
	
.search {
	top: 5.5%;
	position: fixed;      
	z-index: 1;
	top: 5.5%;
	margin-left: 25%;         
}

#box  {
	width: 300%;
	border-radius: 15px/30px;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	padding: 12px 20px 12px 40px;
	background-image: url('search_icon.png');
    background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	}
	
#content{
	font-size: 25px;
	font-family: "Helvetica";
	width: 90%;
	position: fixed;
	top: 20%;
	height: auto;
	padding: 15px;
	}
	
#slider{
	font-size: 25px;
	font-family: "Helvetica";
	width: 90%;
	position: fixed;
	top: 350px;
	height: auto;
	padding: 15px;
	}
	
.logo {
	float: left;
	margin-left: 0%;

	}

.nav {
	position: fixed;
	top: 11%;
	left: 5%;
	background-color: #333;
	width: 90%;
	
	}
	
.nav a:link {
	background-color: #333;
    color: white;
    padding: 14px 12px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}

.nav a:visited {
	background-color: #333;
    color: white;
}

.nav a:hover {
	background-color: #111;
	}

.nav ul {
	list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
	}
	
.nav li {
	display: block;
    color: white;
    text-align: center;
	}


li{
	text-decoration: none;
	list-style: none;
	font-size: 20px;
	float: left;
	
	}
	
	
.About_page
	{
	width: 90%;
	position: fixed;
	top: 18%;
	height: auto;
	padding: 15px;
	}
	
.Catalog_page
	{
	width: 90%;
	position: fixed;
	top: 18%;
	height: auto;
	padding: 15px;
	}

.Contact_page
	{
	width: 90%;
	position: fixed;
	top: 18%;
	height: auto;
	padding: 15px;
	}

.login
	{
	position: fixed;
	margin-left: 50%;
	top: 11%;
	
	background-color: #333;
    color: white;
    padding: 14px 0px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
	}
	
.sign_up
	{
	border-radius: 15px 50px;
	position: fixed;
	margin-left: 78%;
	top: 12%;
	color: black;
	
    background: #94B3FF  ;
	padding: 10px; 
    width: 150px;
    height: 30px; 
	float: center;
	
	}
	
 #header {
	height: 105px;
	background: white;
    width: 90%;
	top: 0;
	position: fixed;

    padding: 20px; 
	background: #dbdbdb;
	z-index: 10;
	top: 0;

	}

.adminSection {
	background-color:lightGrey;
	width: 90%;
	top: 16%;
	left: 5%;
	position: fixed;
	color: grey;
    padding: 14px 0px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}


	
#footer {
	height:100px;
	position: fixed;
	top: 90%;
	width: 90%;
	}

/*slider	*/
.testdiv {
	width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
	left: 30px;
    -webkit-animation: mymove 2s 1; /* Chrome, Safari, Opera */
    animation: mymove 2s 1;
}
.testdiv {-webkit-animation-timing-function: ease;}
.testdiv {animation-timing-function: ease;}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: -250px;}
    to {left: 30px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: -250px;}
    to {left: 30px;}
}	