/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a     {
	text-decoration: none;
	}

/* FlexBox container start*/
.body_container {
		display: flex;
		flex-direction: column;
		border-radius: 7px;
		margin-right: 30px;
		margin-left: 30px;
		padding: 40px
		justify-content: center;
}

/* Header in flexbox Container */
.header { 
		order: 1; flex: 1 0 100%;
		background-color: #333;
		

}
	/* Navigation in flexbox Container */
		/* Logo and search box */
		.first_header{
			display: flex;
			flex-direction: row;
			background-color: lightblue;
			justify-content:center;

		}
			.logo {
				padding: 10px;
			}

			.searchbox {
				flex-grow: 1;
				postion: relative;
				margin-top: 20px;
				margin-left: 20px;

			}

		/* Navigation and Login */
		.second_header{
			background-color:  #333;
			list-style: none;
			text-decoration: none;
			display: inline-block;
		}


			.second_header a {
					display: inline-block;
					padding: 15px 20px;
					color: white;
				}
			.second_header a:hover {
					background: #A0A0A0 ;
				}


		.third_header{
			background-color: #F0E68C;
		}
				.third_header a {
					display: inline-block;
					padding: 12px 20px;
					color: black;
				}
				.third_header a:hover {
					background: #FAFAD2;
				}
				.third_header li {
					display: inline;
				}


/* Main content in flexbox container */

.main {
		order: 2;  background: white; flex: 1 0 0;
}

/* Footer content in flexbox container */
.footer {
		order: 3; height: 50px; background: grey; flex: 1 0 100%; color:white; justify-content: center;
}
/* FlexBox container end*/


/* Search bar start*/
#box  {
	width: 90%;
	border-radius: 15px/30px;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	padding: 12px 20px 12px 40px;
	background-image: url('search_icon.png');
    background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 40px 40px;

	}
/* Search bar end*/
	
	