<div class="About_page">
	<%= image_tag "clinical-practice.JPG", class: "aboutPicture" %>
	<div class="aboutContent">
	<p><span id="about1">MedCompare is</span>
	the best medical equipment supply company in the galaxy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut diam leo. Integer finibus suscipit maximus. Morbi tincidunt purus eu tempor finibus. Maecenas elit tellus, lobortis sit amet augue sed, dictum vulputate libero. In rhoncus sit amet mauris ac pharetra. Ut ac nisl tortor. Nullam vestibulum nunc enim, condimentum varius massa vehicula eget. Fusce at ornare mauris, eu laoreet dui. Quisque efficitur ultrices gravida. Mauris et lacinia eros. Proin posuere euismod ex. Aliquam leo turpis, porta vitae posuere nec, dignissim tincidunt libero. Vestibulum posuere ligula non rutrum commodo.</p>
	<br>
	<p>Nulla sem ante, cursus in cursus in, mollis id erat. Pellentesque faucibus non sapien eu congue. Aenean hendrerit tincidunt nisi ut convallis. Phasellus auctor sollicitudin nunc id sodales. Phasellus id tortor imperdiet, vehicula tortor ac, vulputate lectus. Vestibulum blandit pellentesque sapien, ac maximus quam. Sed augue tortor, tempus sed facilisis eget, porta nec lacus.</p> <br>
	<p>
	Quisque sed turpis quis nulla mattis scelerisque vitae sed quam. Phasellus bibendum velit odio, et hendrerit nulla fringilla semper. Duis massa massa, tempus sit amet enim nec, semper accumsan orci. Phasellus scelerisque iaculis hendrerit. Duis eget risus ultricies, aliquet ipsum sed, faucibus diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut tincidunt eros. Nam nec mauris in neque tristique tempor. Morbi luctus augue eu sapien efficitur commodo. Fusce tristique cursus lectus, at tempus quam feugiat eu. Donec cursus risus non pulvinar ultrices. Etiam rutrum accumsan ipsum quis maximus. Aenean blandit feugiat lacinia. Suspendisse tincidunt ornare efficitur. Suspendisse magna ipsum, porttitor a convallis non, vehicula at lectus.</p>
	</div>
</div>

