<div class="Catalog_page">

	
	<% @products.each do |product| %>
		<div class="product_item">
			<p>
			<span class="img"><%= image_tag product.image, size: "200x100" %></span>
			<h1><%= product.name %></h1>
			<!--<%= product.description %> -->
			<%= number_to_currency(product.price) %>
		</div></p>

	<%end%>

</div>
