<div class="Catalog_page">

	
	<% @products.each do |product| %>
		<div class="product_item">
			<span class="img"><%= image_tag product.image, size: "200x100" %></span>
			<h1><%= product.name %></h1>
			<!--<%= product.description %> -->
			<%= number_to_currency(product.price) %>
			<button class="lightbox" id="button">More Info</button>
		</div>

	<%end%>

	<div class="backdrop"></div>
	<div class="box"><div class="close"></div>
		I DONT KNOW HOW TO PULL THIS INFORMATION

	</div>

</div>
