<div class="Catalog_page">

	
	<% @products.each do |product| %>
		<div class="product_item">
			<p>
			<div class="img"><%= image_tag product.image, size: "200x100" %></div>
			<h1><%= product.name %></h1>
			<!--<%= product.description %> -->
			<%= number_to_currency(product.price) %>
			<p> <button class="wishlist_button">Add to Wish List</button>
				<button class="Compare">Compare this Product</button> </p>
		</div></p>

	<%end%>

</div>
