<div class="contact_Page">
	<div class="contactContent">
	<p><span id="contact1">MedCompare cares</span>
	for it's users. If you have any issues or questions, feel free to give us a call or message us!</p>
	<br><br>
	<h3>24 Hour Customer Support Line</h3>
	<p> <%= image_tag "phone-icon.png", class: "floating" %> (999) 453 - 3422 </p>
	<br><br>
	<h3>Email our Support Center</h3>
	<p><%= image_tag "email-logo-black-png-pictures-1.png", class: "floating" %> support@medcompare.com </p>
	<br><br>
	<h3>Follow and Tweet at us!</h3>
	<p><%= image_tag "Twitter_bird.png", class: "floating" %> @MedCompare </p>
	</div>
	<%= image_tag "home-page-pic1.jpg", class: "" %>
</div>