<div style="text-align: center">
	<br><br>
	<br><br>
	<u><%= link_to "LOG IN AS CLINIC", clinic_log_in_view_path %></u>
	<br><br>
	<br><br>
	<u><%= link_to "SIGN UP AS CLINIC", clinic_sign_up_view_path %></u>
	<br><br>
	<br><br>
	<u><%= link_to "LOG IN AS VENDOR", vendor_log_in_view_path %></u>
	<br><br>
	<br><br>
	<u><%= link_to "SIGN UP AS VENDOR", vendor_sign_up_view_path %></u>
	<br><br>
	<br><br>
</div>