/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a     {
	text-decoration: none;
	}

/* FlexBox container start*/
.body_container {
		display: flex;
		flex-direction: column;
		border-radius: 7px;
		justify-content: center;
}

/* Header in flexbox Container */
.header { 
		order: 1; flex: 1 0 100%;
		background-color: #063E7A;
		

}
	/* Navigation in flexbox Container */
		/* Logo and search box */
		.first_header{
			display: flex;
			flex-direction: row;
			background-color: #333;
			justify-content:center;
	 

		}
			.logo {
				flex-grow: 0;
			}

			.logo h1 {
				font-size: 40px;
				color: white;
			}

			.searchbox {
				flex-grow: 3;
				postion: relative;
				margin-top: 20px;
				margin-left: 20px;

			}

			.login_sign
			{
				margin-top: 20px;
				margin-right: 20px;
				flex-grow: 0;
				postion: relative;
			}

				.login_sign
					a {
						background-color:  #333;
						display: inline-block;
						padding: 15px 20px;
						color: white;
					}

				.login_sign
					a:hover {
						background: #A0A0A0 ;
					}

		/* Navigation and Login */
		.second_header{
			background-color:  #063E7A;
			list-style: none;
			text-decoration: none;

		}


			.second_header a {
					display: inline-block;
					padding: 15px 20px;
					color: white;

				}
			.second_header a:hover {
					background: #A0A0A0 ;
				}


		.third_header{
			background-color: #F0E68C;
		}
				.third_header a {
					display: inline-block;
					padding: 12px 20px;
					color: black;
				}
				.third_header a:hover {
					background: #FAFAD2;
				}
				.third_header li {
					display: inline;
				}


/* Main content in flexbox container */

.main {
		order: 2;  background: white; flex: 1 0 0;

}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    min-height: 400px;
  }



/* Footer content in flexbox container */
.footer {
		order: 3; height: 50px; background: grey; flex: 1 0 100%; color:white; justify-content: center;
		margin-right: 150px;
		margin-left: 150px;
}
/* FlexBox container end*/


/* Search bar start*/
#box  {
	width: 90%;
	border-radius: 15px/30px;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	padding: 12px 20px 12px 40px;
	background-image: url('search_icon.png');
    background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 40px 40px;

	}

/* Search bar end*/
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}






/*TABLE CSS*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}