// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Flex Box Container for all the products
.Catalog_page {
	display: flex;
	flex-direction: row;

}

.catalog_filter {
	visibility: hidden;  

}

.catalog_filter_test {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 700px;
	visibility: hidden;
	padding: 10px;
	background-color: #E2E1E1;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2)

}

.category_sort {
	width: auto;
	height: auto;
	padding: 10px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	border-radius: 25px;
}

.catalog_products {
	display: flex;
	flex-wrap: wrap;
	margin-left: 2%;

}

.catalog_catagory h2 {
	font-size: 20px;
	font-family: Tahoma;
}
	//Flexbox products
	.product_item
		{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin: 5px;
			padding: 5px;
			max-width: 210px;
			max-height: 280px;
			box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2)

		}

	//Flexbox products hover
	//.product_item:hover 
	//	{
	//		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2)
	//	}


h1 {
	font-size: 15px;
}

#button {
	display: block;
	background-color: #063E7A;
	color: white;
	border: none;
	padding: 10px ;
	font-size: 10px;
	max-width: 200px;
	max-height: 30px;
}

.shadow {
			box-shadow: 0px 0px 50px 2px rgba(0,0,0,0.2)
		}

.backdrop
		{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:10;
			display:none;
		}
 
 
		.box
		{
			position:absolute;
			top:20%;
			left:30%;
			width:300px;
			height:auto;
			background:#ffffff;
			z-index:11;
			padding:10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
		}
 
		.close
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}

.catalog_catagory
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 25%;
	margin-right: 25%;
}

.catagory_img
{
	justify-content: space-between;
	max-width: 150px;
	max-height: 100px;

}