// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signup {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form_signup {
  position: relative;
  background: #063E7A;
  max-width: 360px;
  margin: -100px auto 60px;
  padding: 45px;
  //text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: white;
}
.form_signup input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  color: black;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.actions input[type=submit]{
  text-transform: uppercase;
  outline: 0;
  background-color: #333;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.actions input[type=submit]:hover,.actions input[type=submit]:active,.actions input[type=submit]:focus {
  background: #43A047;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
